<%# OVERRIDE Spotlight 3.3.0 to remove invite section and add more spacing between sections %>
<%= page_title(t('.page_title')) %>
<%= bootstrap_form_for Spotlight::Engine.user_class.new, html: { class: 'admin-users' }, url: spotlight.admin_users_path do |f| %>
  <div class="hl__heading">
    <h3 class="instructions"><%= t :'.instructions' %></h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th colspan="2"><%= Spotlight::Engine.user_class.human_attribute_name(:email)  %></th>
        </tr>
      </thead>
      <tbody class="table">
        <% @site.roles.map(&:user).each do |user| %>
          <tr>
            <td>
              <%= user.email %>
            </td>
            <td>
              <%= link_to(t('.destroy'), admin_user_path(user), method: :delete, class: 'btn btn-sm btn-danger float-right') unless user == current_user %>
            </td>
          </tr>
        <% end %>
        <tr data-edit-for='new'>
          <td colspan='2'>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="hl__heading">
    <h3 class="instructions"><%= t :'.admins_curators' %></h3>
    <div id="admins_curators" class="card card-body bg-light">
      <div class='btn-toolbar float-right'>
        <button class="btn btn-sm btn-secondary copy-email-addresses" data-clipboard-target="#admins_curators">
            <%= t('.copy') %>
        </button>
      </div>
      <%= Spotlight::Engine.user_class.with_roles.pluck(:email).sort.join(', ') %>
    </div>
  </div>

  <div class="hl__heading">
    <h3 class="instructions"><%= t :'.all_users' %></h3>
    <table class="table table-striped ">
      <thead>
        <tr>
          <th><%= Spotlight::Engine.user_class.human_attribute_name(:email)  %></th>
          <th><%= Spotlight::Engine.user_class.human_attribute_name(:role)  %></th>
        </tr>
      </thead>
      <tbody class="table">
        <% @users.each do |user| %>
          <tr>
            <td>
              <%= user.email %>
            </td>
            <td class="role">
              <%= user.roles.map { |r| r.role.titleize }.uniq.join(", ") %>
            </td>
            <td class="text-right">
              <% if user.superadmin? %>
                <%= link_to(t('.destroy'), admin_user_path(user), method: :delete, class: 'btn btn-sm btn-danger') unless user == current_user %>
              <% else %>
                <%= link_to(t('.update'), admin_user_path(user), method: :patch, class: 'btn btn-sm btn-secondary') %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>

<% content_for(:sidebar_position) { 'order-last' } %>
<% content_for(:sidebar) do %>
  <%= render "shared/site_sidebar" %>
<% end %>
