<%# OVERRIDE Spotlight 3.3.0 to bring in Harvard theming for exhibit cards %>
<div class="col mb-4">
  <div class="exhibit-card-container">
    <%= link_to exhibit, aria: { hidden: true  }, tabindex: '-1' do %>
      <% if exhibit.thumbnail.present? && exhibit.thumbnail.iiif_url %>
        <%= image_tag(exhibit.thumbnail.iiif_url, class: 'exhibit-card-img',  alt: '', role: 'presentation', skip_pipeline: true) %>
      <% else %>
        <%= image_tag 'spotlight/default_thumbnail.jpg', class: 'exhibit-card-img default-thumbnail',  alt: '', role: 'presentation' %>
      <% end %>
      <div class='exhibit-card-overlay-title'>
        <% unless exhibit.published? %>
          <div class="badge badge-warning unpublished"><%= t('.unpublished') %></div>
        <% end %>
        <%= content_tag :h2, class: 'exhibit-card-title px-4', aria: { describedby: "exhibit-description-#{exhibit.to_param}" } do %>
          <span><%= exhibit.title %></span>
        <% end %> 
      </div>
      <div class="exhibit-card-overlay-description">
        <% if exhibit.description  %>
          <p class="description px-4">
            <%= exhibit.description.truncate(150) %>
          </p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<%# the following script enables responsive css container queries for the font size on the exhibit description %>
<script src="https://unpkg.com/cqfill"></script>