<%# OVERRIDE Blacklight 7.0.0 to add sidebar and change bootstrap classes %>

<% doc_presenter = show_presenter(document) %>
<%# default partial to display solr document fields in catalog show view -%>
<div class='row'>
  <div class='col-lg-8'>
    <%# Mobile, collapsed view of metadata %>
    <dl class="row dl-invert document-metadata d-md-none">
      <% if @document._source[:full_title_tesim].present? %>
        <dt class="blacklight-spotlight_upload_full_title_tesim col-md-6 col-lg-3 mobile-fields">
          Title
        </dt>
        <dd id='field-full_title_tesim' class="blacklight-spotlight_upload_full_title_tesim col-md-6 col-lg-9 mobile-fields">
          <%= doc_presenter.heading %>
        </dd>
      <% end %>
      <% doc_presenter.fields_to_render.each do |field_name, field| -%>
        <% if 
          field_name.parameterize != "permalink-ham_tesim" and 
          field_name.parameterize != "hollis-record_tesim" and 
          field_name.parameterize != "finding-aid_tesim" and
          field_name.parameterize != "finding-aid-component_tesim" and
          (render_document_show_field_label document, field: field_name).chop != "Permalink"
        %>
          <dt class="blacklight-<%= field_name.parameterize %> col-md-6 col-lg-3 mobile-fields">
            <button class="field-button dropdown-toggle" type="button" data-toggle="collapse" data-target="#field-<%= field_name.parameterize %>">
              <%= (render_document_show_field_label document, field: field_name).chop %>
            </button>
          </dt>
          <dd id='field-<%= field_name.parameterize %>' class="blacklight-<%= field_name.parameterize %> col-md-6 col-lg-9 collapse mobile-fields"><%= doc_presenter.field_value field %></dd>
        <% end %>
      <% end -%>
    </dl>
    <%# Tablet/desktop view of metadata %>
    <dl class="row dl-invert document-metadata d-none d-md-flex">
      <% if @document._source[:full_title_tesim].present? %>
        <dt class="blacklight-spotlight_upload_full_title_tesim col-md-6 col-lg-4">
          Title
        </dt>
        <dd class="blacklight-spotlight_upload_full_title_tesim col-md-6 col-lg-8">
          <%= doc_presenter.heading %>
        </dd>
      <% end %>
      <% doc_presenter.fields_to_render.each do |field_name, field| -%>
        <% if 
          field_name.parameterize != "permalink-ham_tesim" and 
          field_name.parameterize != "hollis-record_tesim" and 
          field_name.parameterize != "finding-aid_tesim" and
          field_name.parameterize != "finding-aid-component_tesim" and
          (render_document_show_field_label document, field: field_name).chop != "Permalink"
        %>
          <dt class="blacklight-<%= field_name.parameterize %> col-md-6 col-lg-4">
          <%= (render_document_show_field_label document, field: field_name).chop %>
          </dt>
          <dd class="blacklight-<%= field_name.parameterize %> col-md-6 col-lg-8"><%= doc_presenter.field_value(field) %></dd>
        <% end %>
      <% end -%>
    </dl>
    <%# end metadata %>
  </div>
  <div class='col-lg-4 sidebar'>
    <%= render 'tools_and_links', doc_presenter: doc_presenter %>
    <%= render 'contacts_show' %>
  </div>
</div>
