<% # OVERRIDE spotlight 3.3.0 here to move admin dashboard links %>

<h3 class="nav-heading h4"><%=t(:'spotlight.curation.sidebar.header') %></h3>

<ul class="nav sidenav flex-column">
  <% if can? :manage, Spotlight::Search.new(exhibit: current_exhibit) %>
    <%= nav_link t(:'spotlight.curation.sidebar.browse'), spotlight.exhibit_searches_path(current_exhibit) %>
  <% end %>
  <% if can? :manage, Spotlight::FeaturePage.new(exhibit: current_exhibit) or can? :manage, current_exhibit.home_page %>
    <%= nav_link t(:'spotlight.curation.sidebar.feature_pages'), spotlight.exhibit_feature_pages_path(current_exhibit), 'data-no-turbolink' => true %>
  <% end %>
  <% if can? :manage, Spotlight::AboutPage.new(exhibit: current_exhibit) %>
    <%= nav_link t(:'spotlight.curation.sidebar.about_pages'), spotlight.exhibit_about_pages_path(current_exhibit), 'data-no-turbolink' => true %>
  <% end %>
  <% if (can? :manage, current_exhibit.translations.first_or_initialize) && current_exhibit.languages.any? %>
    <%= nav_link t(:'spotlight.curation.sidebar.translations'), spotlight.edit_exhibit_translations_path(current_exhibit), 'data-no-turbolink' => true %>
  <% end %>
</ul>